/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img,
svg,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}
:root {
  /* Colors */
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
  /* Font */
  --font-family: "DM Sans", sans-serif;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-46: 2.875rem;
  --fs-54: 3.375rem;
  --fs-62: 3.875rem;
  --fw-400: 400;
  --fw-500: 500;
}
body {
  background-color: whitesmoke;
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin-block-start: 32px;
  margin-block-end: 40px;
  margin-inline: 16px;
  font-family: var(--font-family);
  font-size: var(--fs-18);
  line-height: 20px;
}
.sr-only:not(:focus):not(:active) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.wrapper {
  display: grid;
  grid-template-areas:
    "article1"
    "article2"
    "article3"
    "article4"
    "article5"
    "article6"
    "article7"
    "article8";
  place-items: center;
  gap: 32px;
  margin-block-end: 45px;
}
.article:nth-child(1) {
  grid-area: article1;
}
.article:nth-child(2) {
  grid-area: article2;
}
.article:nth-child(3) {
  grid-area: article3;
}
.article:nth-child(4) {
  grid-area: article4;
}
.article:nth-child(5) {
  grid-area: article5;
}
.article:nth-child(6) {
  grid-area: article6;
}
.article:nth-child(7) {
  grid-area: article7;
}
.article:nth-child(8) {
  grid-area: article8;
}
/* Base styles for all articles */
.article {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 24px;
  padding: 24px;
  height: 100%;
  width: 100%;
}
/* Utility Classes */
.article--centered {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.article--purple {
  background-color: var(--purple-500);
  color: var(--white);
}
.article--purple-light {
  background-color: var(--purple-100);
}
.article--yellow {
  background-color: var(--yellow-500);
}
.article--yellow-light {
  background-color: var(--yellow-100);
}
.article--white {
  background-color: var(--white);
}
.title--xl {
  font-size: var(--fs-46);
  font-weight: var(--fw-500);
  line-height: 42px;
  letter-spacing: -0.04em;
}
.title--lg {
  font-size: var(--fs-32);
  font-weight: var(--fw-500);
  line-height: 28px;
  letter-spacing: -0.06em;
}
.title--md {
  font-size: var(--fs-26);
  font-weight: var(--fw-500);
  line-height: 24px;
  letter-spacing: -0.06em;
}
/* Article 1 */
.social-media {
  padding-inline: 32px;
  padding-block: 40px;
}
.social-media__title--yellow {
  color: var(--yellow-500);
}
.social-media__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.social-media__img {
  max-width: 192px;
}
/* Article 2 */
.manage {
  padding: 16px;
}
.manage__img {
  max-width: 316.08px;
}
/* Article 3 */
.maintain {
  padding: 16px 16px 0 16px;
}
.maintain__title {
  margin-block-end: 16px;
}
.maintain__img {
  max-width: 208px;
}
/* Article 4 */
.schedule {
  padding: 32px;
  text-align: center;
}
.schedule__img {
  max-width: 308.06px;
  margin-left: -16px;
  margin-right: -16px;
}
/* Article 5 */
.grow {
  gap: 40px;
}
.grow__img {
  max-width: 227.68px;
}
/* Article 6 */
.audience {
  padding-block: 24px;
  padding-inline-start: 24px;
  padding-inline-end: 127px;
}
.audience__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.audience__img {
  max-width: 178.93px;
}
/* Article 7 */
.create {
  padding: 32px;
}
.create__title--purple {
  color: var(--purple-500);
  font-style: italic;
}
.create__img {
  max-width: 190.47px;
}
/* Article 8 */
.write__img {
  max-width: 219.95px;
}
.attribution {
  font-size: var(--fs-16);
  text-align: center;
}
.attribution a {
  color: var(--purple-500);
}
@media (min-width: 48rem) {
  body {
    margin-inline: 40px;
    margin-block-start: 52px;
    margin-block-end: 75.69px;
  }
  .wrapper {
    grid-template-areas:
      "article1 article1"
      "article2 article3"
      "article4 article4"
      "article5 article5"
      "article6 article6"
      "article7 article8";
  }
  /* Utility Classes */
  .title--xl {
    font-size: var(--fs-54);
    line-height: 48px;
  }
  .title--lg {
    font-size: var(--fs-36);
    line-height: 30px;
  }
  .title--md {
    font-size: var(--fs-28);
    line-height: 26px;
  }
  /* Article 1 */
  .social-media {
    padding: 32px;
  }
  /* Article 2 */
  .manage {
    padding: 24px 0 24px 24px;
  }
  .manage__img {
    align-self: self-end;
  }
  .manage__title {
    margin-block-start: 54.46px;
    margin-inline-end: 96px;
  }
  /* Article 3 */
  .maintain {
    padding: 24px 53px 0 24px;
  }
  /* Article 4 */
  .schedule__img {
    max-width: 357.3px;
  }
  .schedule__text {
    margin-inline: 132.5px;
  }
  /* Article 5 */
  .grow {
    flex-direction: row;
    padding-inline: 81.66px;
    text-align: left;
  }
  /* Article 6 */
  .audience {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 24px;
  }
  .audience__img {
    height: 66.56px;
  }
  /* Article 7 */
  .create {
    padding-block: 75.07px;
    padding-inline: 24px;
  }
}
@media (min-width: 64rem) {
  body {
    margin-inline: 160px;
    margin-block-start: 83px;
    margin-block-end: 65px;
  }
  .wrapper {
    grid-template-areas:
      "article7 article1 article1 article4"
      "article7 article2 article3 article4"
      "article8 article2 article3 article4"
      "article8 article6 article5 article5";
  }
  /* Utility Classes */
  .title--xl {
    font-size: var(--fs-62);
    line-height: 58px;
  }
  .title--lg {
    font-size: var(--fs-40);
    line-height: 36px;
  }
  .title--md {
    font-size: var(--fs-32);
    line-height: 28px;
  }
  /* Article 2 */
  .manage {
    padding: 24px 0 0 24px;
  }
  .manage__img {
    margin-right: -80px;
  }
  .manage__title {
    margin-block-start: 0;
    margin-inline-end: 50px;
  }
  /* Article 3 */
  .maintain {
    padding: 24px 24px 0 24px;
  }
  .maintain__title {
    margin-block-end: 0;
    margin-inline-end: 50px;
  }
  .maintain__img {
    margin-bottom: -100px;
  }
  /* Article 4 */
  .schedule {
    text-align: left;
  }
  .schedule__img {
    margin-right: -152px;
  }
  .schedule__text {
    margin-inline: 0;
  }
  /* Article 5 */
  .grow {
    padding-inline: 24px;
  }
  /* Article 6 */
  .audience {
    flex-direction: column;
  }
  /* Article 7 */
  .create {
    padding: 32px;
    justify-content: center;
  }
  /* Article 8 */
  .write {
    justify-content: space-between;
  }
}
